.terraform/
.shelltool/
makefiles/
passwd

.npm/
.esbuild/
.serverlessrc
.npmrc
.config/
.yarn/
.cache/
node_modules
**/node_modules
.dccache
.env
coverage/
.vscode

dist/

.idea

# Ignorar archivos de estado de Terraform
.terraform.tfstate
.terraform.tfstate.backup

# Ignorar archivos de variables sensibles
*.tfvars
*.auto.tfvars

# Ignorar el archivo de bloqueo de Terraform
.terraform.lock.hcl
