#set($input = $input.json('$'))
{
  "input": "$util.escapeJavaScript($input).replaceAll("\\'", "'")",
  "stateMachineArn": "arn:aws:states:us-east-2:$context.accountId:stateMachine:SF_PAYMENT_WORKFLOW"
}