#set($input = $input.json('$'))
{
  "input": "$util.escapeJavaScript($input).replaceAll("\\'", "'")",
  "stateMachineArn": "arn:aws:states:${self:provider.region}:$context.accountId:stateMachine:SF_PAYMENT_WORKFLOW"
}